#bodymycarousel {width: 1000px; background:white;}

#myCarousel {margin-left: 30px; margin-right: 30px;}

.carousel-control {
	top: 50%;
}
.carousel-inner {
	width: 940px;
	height: 120px;
}
.carousel-control.left, .carousel-control.right {
	background: none;
	color: red;
	border: none;
}
.carousel-control.left {margin-left: -45px; color: black;}
.carousel-control.right {margin-right: -45px; color: black;}
